body{
    background-image: url("../obrazky/pozadie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}
/*---------------Stylovanie hlavicky --------*/

.hlavne{
    font-size:30px;
    color:#F3EBFC;
    text-decoration: none;

}

.hlavne:hover{
    text-decoration: underline;
    color:#F3EBFC;
}


/*---------------Stylovanie hlavicky KONIEC --------*/

/*---------------Stylovanie prefooteru------*/



.bielePozadie{
    background: white;
    margin-top: 170px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 15px 15px;
}
.logoNike{
    background-image: url("../../../../../../../../xampp/htdocs/Laravel/SemkaLaravel/public/Obrazky/nikeLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoAdidas{
    background-image: url("../../../../../../../../xampp/htdocs/Laravel/SemkaLaravel/public/Obrazky/adidasLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoJordan{
    background-image: url("../obrazky/jordanLogo.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoNike{
    background-image: url("../../../../../../../../xampp/htdocs/Laravel/SemkaLaravel/public/Obrazky/nikeLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoVans{
    background-image: url("../obrazky/vanLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}


/*---------------Koniec stylovanie prefooteru------*/

/*---------------Stylovanie footeru --------*/

ul{
    font-size:45px;
    color:white;

}


.zafarbeny{
    background: white;
    padding-top: 40px;
}

li{
    font-size:30px;
    color:#3B393D;
    text-decoration: none;
}

ul{
    list-style: none;
}

.float{
    float:left;
    margin-right: 25px;
}



h3{
    font-size: 50px;
    font-weight: bolder;
    color:#3B393D;
    margin-left: 20px;
}

a{
    font-size:30px;
    color:#3B393D;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color:#3B393D;
}

/*---------------Stylovanie footeru KONIEC --------*/

/*---------------HLAVNY OBSAH------------*/

input:not([type="checkbox"]){
    background: #E4DDED;
    border:none;
    width: 300px;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(30, 139, 195, 0.6);
    border:5px solid gray;
}

input:focus{
    outline: black 8px solid;
}

label{
    cursor: pointer;
    display: block;
    text-align: left;
    margin-left: 25px;
    padding-left: 0;
    color:#B6AFBD;
    font-size: 30px;
}

input[type="submit"]{
    cursor: pointer;
    width: 350px;
    margin: auto;
    background: #78747D;
    border: 3px solid #E4DDED;
    font-size: 35px;
}

.obalovac{
    width: 300px;
    margin: auto;

}

.prihlasenie{
    text-transform: uppercase;
    text-align: center;
    font-size: 81px;
    color:#B6AFBD;
    background: none;
}

h1{
    text-align: center;
    font-size: 50px;
    color:white;
    background: black;
    padding: 15px 25px;
    margin-bottom: 0px;
}

p{
    color: red;
    font-size: 20px;
}


@media (max-width: 600px){
    h1{
        font-size: 35px;
        margin-left: -15px;
        margin-top: 15px;
    }
}
