body{
    background-image: url("../obrazky/pozadie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}
/*---------------Stylovanie hlavicky --------*/

.hlavneKosik{
    font-size:30px;
    color:#F3EBFC;
    text-decoration: none;
    margin-left: 60%;
}

.hlavne{
    font-size:30px;
    color:#F3EBFC;
    text-decoration: none;

}

.hlavne:hover{
    text-decoration: underline;
    color:#F3EBFC;
}

. hlavneKosik:hover{
    text-decoration: underline;
    color:#F3EBFC;
}



/*---------------Stylovanie hlavicky KONIEC --------*/

/*---------------Stylovanie prefooteru------*/



.bielePozadie{
    background: white;
    margin-top: 300px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 15px 15px;
}
.logoNike{
    background-image: url("../../../../../../../../xampp/htdocs/Laravel/SemkaLaravel/public/Obrazky/nikeLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoAdidas{
    background-image: url("../../../../../../../../xampp/htdocs/Laravel/SemkaLaravel/public/Obrazky/adidasLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoJordan{
    background-image: url("../obrazky/jordanLogo.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}
.logoVans{
    background-image: url("../obrazky/vanLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}


/*---------------Koniec stylovanie prefooteru------*/

/*---------------Stylovanie footeru --------*/

ul{
    font-size:45px;
    color:white;

}


.zafarbeny{
    background: white;
    padding-top: 40px;
}

li{
    font-size:30px;
    color:#3B393D;
    text-decoration: none;
}

ul{
    list-style: none;
}

.float{
    float:left;
    margin-right: 25px;
}



h3{
    font-size: 50px;
    font-weight: bolder;
    color:#3B393D;
    margin-left: 20px;
}

a{
    font-size:30px;
    color:#3B393D;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color:#3B393D;
}

/*---------------Stylovanie footeru KONIEC --------*/
/*---------------HLAVNY OBSAH------------*/
.hlavnyNadpis{
    font-size: 50px;
    color:white;
    margin-top: 30px;
    background: none;
    margin-left: 0;
}

h1{
    text-align: center;
    font-size: 50px;
    color:white;
    background: black;
    padding: 15px 25px;
    margin-bottom: 0px;
}


p{
    font-size: 30px;
    color: white;
}



@media (max-width: 768px){
    h1{
        font-size: 25px;
        margin-top: 100px;
    }

    .hlavne{
        font-size: 26px;
    }

    .bielePozadie{
        margin-top: 150px;
    }

}


