body{
    background-image: url("../obrazky/pozadie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}
/*---------------Stylovanie hlavicky --------*/

.hlavne{
    font-size:30px;
    color:#F3EBFC;
    text-decoration: none;

}

.hlavne:hover{
    text-decoration: underline;
    color:#F3EBFC;
}

.obrazokProfil{
    border-radius: 60%;
    position: relative;
    margin-left: 40%;
}



/*---------------Stylovanie hlavicky KONIEC --------*/

/*---------------Stylovanie prefooteru------*/



.bielePozadie{
    background: white;
    margin-top: 150px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 15px 15px;
}
.logoNike{
    background-image: url("../obrazky/nikeLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoAdidas{
    background-image: url("../obrazky/adidasLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoJordan{
    background-image: url("../obrazky/jordanLogo.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoNike{
    background-image: url("../obrazky/nikeLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}

.logoVans{
    background-image: url("../obrazky/vanLogoZmensene.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;

}


/*---------------Koniec stylovanie prefooteru------*/

/*---------------Stylovanie footeru --------*/

ul{
    font-size:45px;
    color:white;

}


.zafarbeny{
    background: white;
    padding-top: 40px;
}

li{
    font-size:30px;
    color:#3B393D;
    text-decoration: none;
}

ul{
    list-style: none;
}

.float{
    float:left;
    margin-right: 25px;
}



h3{
    font-size: 50px;
    font-weight: bolder;
    color:#3B393D;
    margin-left: 20px;
}

a{
    font-size:30px;
    color:#3B393D;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color:#3B393D;
}

/*---------------Stylovanie footeru KONIEC --------*/
/*---------------HLAVNY OBSAH------------*/


/*vsetky ktore nie su typu checkbox*/
input:not([type="checkbox"]){
    background: #fff;
    border:5px solid gray;
    width: 250px;
    height:80px;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 15px;
    background: #E4DDED;
}

input:focus{
    outline: black 8px solid;
}

label{
    cursor: pointer;
    display: block;
    text-align: left;
    padding-left: 0;
    color:#B6AFBD;
    font-size: 30px;
}


input[type="submit"]{
    cursor: pointer;
    background: #78747D;
    border:5px solid #F3EBFC;
    font-size: 30px;
}


h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 81px;
    color:#B6AFBD;
}

p{
    font-size: 30px;
    color: white;
}


.zleCislo{
    font-size: 30px;
    color: red;

}

.dobreCislo{
    font-size: 30px;
    color: #E4DDED;;

}
@media (min-width: 425px) and (max-width: 768px){
    h1{
        margin-left: 29px;
        font-size: 40px;
        text-align: left;
    }

    input:not([type="checkbox"]){
        width: 400px;
    }
}

@media (max-width: 425px){
    h1{
        font-size: 40px;
        margin-top: 15px;
    }
}
@media (min-width: 769px) and (max-width: 991px){
    input:not([type="checkbox"]){
        background: #fff;
        border:5px solid gray;
        width: 400px;
        height:80px;
        padding: 15px 20px;
        margin-bottom: 20px;
        margin-left: 220px;
        border-radius: 15px;
        background: #E4DDED;
    }

    input[type="submit"]{
        cursor: pointer;
        background: #78747D;
        border:5px solid #F3EBFC;
        margin-left: 220px;
    }

}


@media (min-width: 1024px){
    input:not([type="checkbox"]){
        background: #fff;
        border:5px solid gray;
        width: 250px;
        height:80px;
        padding: 15px 20px;
        margin: 20px;
        border-radius: 15px;
        background: #E4DDED;
    }
    input[type="submit"]{
        cursor: pointer;
        background: #78747D;
        border:5px solid #F3EBFC;
        border-radius: 15px;
    }
}

